@font-face {
  font-family: "Sofia Pro Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Ultra Light"),
    url("../assets/SofiaProUltraLight.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Extra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Extra Light"),
    url("../assets/SofiaProExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Light";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Light"),
    url("../assets/SofiaProLight.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Regular"),
    url("../assets/SofiaProRegular.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Medium"),
    url("../assets/SofiaProMedium.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body,
html {
  overflow: visible;
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Pro Regular", sans-serif;
  font-size: 3rem;
  color: #e5e5e5;
  background-image: linear-gradient(to bottom, #02021e, #040404);
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 95%;
  margin: 2rem 5rem;
  z-index: 8;
}

h1 {
  font-family: "Sofia Pro Extra Light", sans-serif;
  letter-spacing: 0.2rem;
}

h2 {
  color: #e5e5e5;
  font-size: 5rem;
  font-family: "Sofia Pro Extra Light", sans-serif;
  letter-spacing: 0.2rem;
}

h3 {
  color: #ab9bee;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  z-index: 10;
  transition: color 0.5s;
  padding: 0.5rem 1rem;

  &:active,
  &:visited,
  &:link {
    color: #e5e5e5;
  }

  &:focus {
    border: 5px solid #4f83d1;
  }

  &:disabled {
    background-color: #a3a3a3;
  }
}

footer {
  background-color: rgba(171, 155, 238, 0.1);
  border-top: 1px solid #ab9bee;
  // min-height: 40vh;
  text-align: center;
}

button {
  &:focus {
    border: 5px solid #4f83d1;
    // border-radius: 10px;
  }

  &:active {
    background-color: #333;
    border-color: #333;
    color: #eee;
  }

  &:disabled {
    background-color: #c8c8c8;
  }
}
