* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body,
html {
  overflow: visible;
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Pro", sans-serif;
  font-size: 3rem;
  color: #e5e5e5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#02021e), to(#040404));
  background-image: linear-gradient(to bottom, #02021e, #040404);
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 95%;
  margin: 2rem 5rem;
  z-index: 8;
}

h1 {
  font-weight: 500;
}

h2 {
  color: #e5e5e5;
  font-size: 5rem;
  font-weight: 500;
}

h3 {
  color: #ab9bee;
  font-size: 2.5rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  z-index: 10;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  padding: 0.5rem 1rem;
}

a:active, a:visited, a:link {
  color: #e5e5e5;
}

a:focus {
  border: 5px solid #4f83d1;
}

a:disabled {
  background-color: #a3a3a3;
}

footer {
  background-color: rgba(171, 155, 238, 0.1);
  border-top: 1px solid #ab9bee;
  text-align: center;
}

button:focus {
  border: 5px solid #4f83d1;
}

button:active {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

button:disabled {
  background-color: #c8c8c8;
}

.threed-title {
  -webkit-perspective: 100;
          perspective: 100;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateY(-100px);
          transform: rotateX(90deg) translateY(-100px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  z-index: 7;
}

.rotate180x {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.black-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 100%;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  z-index: 6;
}

.input-cursor {
  display: inline-block;
  width: 3px;
  height: 40px;
  background-color: white;
  margin-left: 8px;
  -webkit-animation: blink 0.6s linear infinite alternate;
          animation: blink 0.6s linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.title {
  text-align: center;
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 400;
  font-size: 7rem;
  padding-top: 10rem;
}

.title-description {
  font-size: 2rem;
  font-weight: 200;
  background-color: black;
  border: 1.3px solid #17a02a;
  opacity: 90%;
  border-radius: 3px;
  padding: 1rem;
}

.header-subtitle {
  font-size: 3rem;
  font-weight: 300;
  color: #ab9bee;
}

.navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.navbar-item {
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 2.25rem;
}

.navbar-item:hover {
  color: #ab9bee;
  background-color: rgba(171, 155, 238, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-icon {
  max-width: 30px;
  max-height: 30px;
  margin: 3rem;
}

.intro-section {
  height: 70rem;
  text-align: center;
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 200;
  z-index: 1;
  position: relative;
  margin-bottom: 250px;
}

.hide {
  height: 0vh;
  display: none;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 7;
}

.intro-title-container {
  display: block;
}

.scroll-note {
  width: 200px;
  margin: 0 auto;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.mouse-hover {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: 3px solid whitesmoke;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0%;
  background-color: red;
  z-index: 10;
}

.intro-bubbles-container {
  height: 100vh;
  position: absolute;
  z-index: 2;
}

.bubble {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ab9bee), to(#02021e));
  background-image: linear-gradient(to bottom right, #ab9bee, #02021e);
  position: inherit;
  top: 200px;
  left: 100px;
  opacity: 0%;
  z-index: 2;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.bubble1 {
  height: 40px;
  width: 40px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#c0b4f3), to(#0b0b5a));
  background-image: linear-gradient(to bottom left, #c0b4f3, #0b0b5a);
  top: 60vh;
  left: 70vw;
}

.bubble2 {
  height: 75px;
  width: 75px;
  background-image: linear-gradient(245deg, #8fc8e9, #6577c7);
  top: 10vh;
  left: 35vw;
}

.bubble3 {
  height: 90px;
  width: 90px;
  background-image: linear-gradient(225deg, #e8ecfa, #3c3cff 80%);
  top: 75vh;
  left: 55vw;
}

.bubble5 {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  background-image: linear-gradient(195deg, #e8ecfa, #5ac3ff 80%);
  top: 25vh;
  left: 75vw;
}

.frontpage-section {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  height: 100vh;
  font-family: "Roboto Mono", Courier, monospace;
  position: relative;
  font-weight: 200;
  z-index: 6;
}

.frontpage-title {
  position: absolute;
  top: 25%;
}

.recentworks-section {
  margin-bottom: 100px;
}

.scrolling-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.scrolling-flex_item {
  z-index: 7;
  min-height: 400px;
  min-width: 400px;
  margin: 4rem;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.scrolling-flex_item:hover .recent-textbox {
  bottom: 0px;
}

.scrolling-flex_item_img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.recent {
  padding: 0rem;
}

.recent:active, .recent:visited, .recent:link {
  color: #e5e5e5;
}

.recent:hover {
  background-color: rgba(255, 0, 0, 0);
  padding: 0rem;
  border-radius: 0;
}

.recent-scroll {
  margin: 0 auto;
  width: 150px;
  font-family: "Roboto Mono", Courier, monospace;
  font-weight: 100;
  font-size: 2.5rem;
}

.recent-textbox {
  z-index: 10;
  width: 400px;
  height: 220px;
  padding: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 43, 49, 0.95)), to(rgba(4, 4, 4, 0.8)));
  background-image: linear-gradient(to bottom, rgba(43, 43, 49, 0.95), rgba(4, 4, 4, 0.8));
  font-size: 2rem;
  position: absolute;
  bottom: -230px;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-textbox h3 {
  margin: 0 0 2rem 0;
}

.static {
  position: absolute;
  z-index: 5;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.static:hover {
  opacity: 0;
}

.list-of-languages {
  margin: 1rem 0;
}

.inline {
  display: inline;
  margin: 0 2px;
}

.react {
  background-color: #baf1ff;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.api {
  background-color: #db94a2;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.css {
  background-color: #a5b1df;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.scss {
  background-color: #e0a4c1;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.javascript {
  background-color: #f0e8b5;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.html {
  background-color: #e09e8e;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.threejs {
  background-color: #e5e5e5;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.nodejs {
  background-color: #7fa07c;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.express {
  background-color: #e5e5e5;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.heroku {
  background-color: #785d9b;
  border-radius: 10px;
  padding: 3px 5px;
}

.renpy {
  background-color: #f1b2cd;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.aseprite {
  background-color: #a1a3d3;
  color: #1b1b1b;
  border-radius: 10px;
  padding: 3px 5px;
}

.skills-section {
  z-index: 11;
  margin-bottom: 100px;
}

.skills-icons {
  max-width: 1000px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5rem auto;
}

.skills-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-icons .skills-icon-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 15px;
  z-index: 20;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.skills-icons .skills-icon-child:hover {
  color: #ab9bee;
  background-color: rgba(171, 155, 238, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.skills-icons .skills-icon-child span {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.skills-icons img {
  width: 50px;
  height: 50px;
}

.skills-icon-wrapping-atag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme-section {
  padding-bottom: 5rem;
}

.twosections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-description {
  font-size: 2.2rem;
  max-width: 400px;
  margin: 0 2rem;
}

.about-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
}

.about-social-icons img {
  width: 40px;
  height: 40px;
}

.about-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-image {
  max-width: 300px;
}

.section-title {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.section-description {
  margin: 3rem auto 5rem auto;
  text-align: center;
  max-width: 600px;
}

.button {
  background-color: #e5e5e5;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 3rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  max-width: 180px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.button:hover {
  color: #ab9bee;
  cursor: pointer;
}

footer {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  padding: 4rem;
}

footer h2 {
  font-size: 2.8rem;
  padding-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .sitetitle {
    font-size: 1.8rem;
  }
  .navbar-item {
    font-size: 2rem;
  }
  .intro-title-container {
    width: 100%;
  }
  .title-container {
    max-width: 100%;
  }
  .intro-section {
    margin-bottom: 10px;
  }
  .recentworks-section {
    margin-bottom: 10px;
  }
  .intro-title {
    font-size: 3rem;
  }
  .header-subtitle {
    font-size: 2.5rem;
  }
  .input-cursor {
    height: 25px;
  }
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  .section-description {
    font-size: 2.2rem;
  }
  .description {
    font-size: 1.8rem;
  }
  .scroll-note,
  .recent-scroll {
    font-size: 2rem;
  }
  .social-icon-description {
    font-size: 1.8rem;
  }
  .about-description {
    font-size: 1.8rem;
  }
  .about-image {
    width: 200px;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    margin: 0;
    width: 100%;
  }
  nav .navbar-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .sitetitle {
    font-size: 1.75rem;
    padding: 1rem;
  }
  nav .navbar-item {
    font-size: 1.75rem;
  }
  .aboutme-section {
    margin-bottom: 3rem;
  }
  .twosections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scrolling-flex_item {
    min-height: 325px;
    min-width: 325px;
  }
  .recent-textbox {
    width: 100%;
    height: 130px;
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem 0 0.75rem;
  }
  .recent-textbox h3 {
    font-size: 1.7rem;
    margin: 0;
  }
  .recent-textbox h4 {
    font-size: 1.5rem;
  }
  .recent-textbox .button {
    max-width: 120px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
  .about-image {
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */